* {  
  box-sizing: border-box;
}

.App {  
  padding: 15px;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIxMTIzfQ&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;    
}

.book-list-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 3rem;
  color: lightblue;
  background: rgb(0, 0, 0);
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.List {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.List-Item {
  height: 100px;
  width: 75px;
  margin: 30px;
}

.delete-button {
  cursor: pointer;
}

.Form{
  align-items: center; 
  justify-content: center; 
  /* margin: 10px; */
  display: flex;
  flex-direction: row;
}

.book-title {
  margin: 10px;
  background-color: antiquewhite;
}

.book-author {
  margin: 10px;
  background-color: antiquewhite;
}